body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.navBar {
    top: 0;
    position: sticky;
    z-index: 9;
}

#contenedorCartas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    background-color: aqua;
    margin-top: 2rem;
    margin-left: auto;
}

.containerSpinner {
     display: block;
     text-align: center;
     margin-top: 5rem;
}

#spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    width: 19rem;
    margin: auto;
    margin-top: 20px;
}


img {
    height: 224px;
    width: 224px;
}

.card-img-top {
    display: block;
    margin: auto;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: left;
}

.envioFull {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}


/* CARTA INDIVIDUAL */

.containerIndiv {
    margin-top: 90px;
    min-width: 900px;
    padding: 0;
    background-color: rgba(255, 255, 255);
}

.rowIndiv {
    padding: 40px 3rem;
    padding-top: 40px;
    
}

.imgIndv {
    width: 368px;
    height: 468px;
}

.card-bodyIndv {
    padding: 15px;
}

.card-title {
    font-weight: 600;
    margin-bottom: 8px;
    padding: 0;
    margin-right: 0;
    text-align: center;
}

.card-text {
    font-weight: 400;
}

.card-precio {
    padding: 0;
    font-size: 36px;
}

.carrito {
    height: 20px;
    width: 40px;
}

.bttns__back-compra {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.bttn-compra {
    justify-content: end;
}