body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
 }

/* NAVBAR */

.navBar-header {
    top: 0;
    position: sticky;
    z-index: 9;
    background-color: rgb(149, 109, 212);
}


#header__nav-list {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.header__item-list {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.header__item-link {
    display: flex;
    color: black;
    text-decoration: none;
    margin: 5px;
    text-align: center;
    justify-content: center;
}

.containerSpinner {
     display: block;
     text-align: center;
     margin-top: 5rem;
}

#spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Contenedor de cartas */

#contenedorCartas {
    width: 80vw;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: aqua;
    margin-top: 2rem;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}


.card {
    width: 19rem;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}


img {
    height: 224px;
    width: 224px;
}

.containerImg {
    display: flex;
    justify-content: center; 
}

.card-img-top {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}



/* Img individual */

.card-title {
    text-align: center;
    text-decoration: none;
}

.card-texto {
    text-align: left;
    text-decoration: none;
}

.envioFull {
    display: flex;
    gap: 10px;
}

#full{
    text-decoration: none;

}


/* CARTA INDIVIDUAL */

.containerIndiv {
    margin-top: 90px;
    min-width: 900px;
    padding: 0;
    background-color: rgba(255, 255, 255);
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);

}

.rowIndiv {
    padding: 40px 3rem;
    padding-top: 40px;
    
}

.imgIndv {
    width: 368px;
    height: 468px;
}

.card-bodyIndv {
    padding: 15px;
}

.card-title {
    font-weight: 600;
    margin-bottom: 8px;
    padding: 0;
    margin-right: 0;
    text-align: center;
}

.card-text {
    font-weight: 400;
}

.card-precio {
    padding: 0;
    font-size: 36px;
}

.carrito {
    height: 20px;
    width: 40px;
}

.bttns__back-compra {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

/* RESPONSIVE */