body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
}

/* NAVBAR */

.navBar-header {
    top: 0;
    position: sticky;
    z-index: 9;
    background-color: rgba(25, 17, 105, 0.753);
    color: white !important;
}

.header__items-tittleInput {
    max-width: 1400px;
    width: 80vw;
}

.navbar-brand{
    color: white;
}

#header__nav-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.header__items-all {
    display: flex;
    width: 80vw;
    max-width: 1400px;
    justify-content: space-between;
    padding: 0;


}

#header__items-allLogout {
    justify-content: flex-end;
}

.header__item-list {
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: x-small;
}

.header__item-link {
    display: flex;
    color: white;
    text-decoration: none;
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header__nav-bienvenidauser {
    margin: 0;
    font-size: medium;
}

.containerSpinner {
    display: block;
    text-align: center;
    margin-top: 5rem;
}


#spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Contenedor de cartas */

#contenedorCartas {
    width: 80vw;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}

.cartas {
    width: auto;
    height: auto;
}
.card {
    width: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}


.card-img-top {
    height: 224px;
    width: 224px;
}

.containerImg {
    display: flex;
    justify-content: center;
}

.card-img-top {
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}

.card-body{
    padding: 8px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



/* Img individual */

.card-title {
    text-align: center;
    text-decoration: none;
}

.card-texto {
    text-align: left;
    text-decoration: none;
}

.envioFull {
    display: flex;
    gap: 10px;
}

#full {
    text-decoration: none;

}


/* CARTA INDIVIDUAL */

.containerIndiv {
    margin-top: 90px;
    width: 80%;
    max-width: 1200px;
    padding: 0;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);

}

.rowIndiv {
    padding: 40px 3rem;
    padding-top: 40px;

}

.imgIndv {
    width: 368px;
    height: 468px;
}

.card-bodyIndv {
    padding: 15px;
}

.card-title {
    font-weight: 600;
    margin-bottom: 8px;
    padding: 0;
    margin-right: 0;
    text-align: center;
}

.card-text {
    font-weight: 400;
}

.card-precio {
    padding: 0;
    font-size: 36px;
}

.carrito {
    height: 20px;
    width: 40px;
}

.bttns__back-compra {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

/* CARRITO DE COMPRAS */

#contenedorTabla {
    width: 80%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.8);
    margin-top: 2rem;
    margin-bottom: 5rem;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}

.containderItemsTabla {
    width: 90%;
}

.table {
    margin: 10px;
    padding: 0;
}

.table__header-tittle {
    text-align: center;
}

.table__body-header {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
}

.table__body_items {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
}

.table__header-item {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.table__body-image {
    display: flex;
    justify-content: center;
}

.imgCarrito {
    height: 224px;
    width: 224px;
}

.table__body-productname {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="number"] {
    border: thin solid #0d0d0d;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    display: block;
    width: 65%;
    font-size: 1rem;
    line-height: 1;
    background-color: aliceblue;
}

.teble__body-precio {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.table__body-inputborrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-tienda {
    margin: 0;
    padding: 0 0.3rem !important;
}

.text-carritovacio {
    margin-top: 0.5rem;
}

.totalPay {
    display: flex;
    justify-content: flex-end;
}

.btn-borrar {
    background-color: #dc3545 !important;
}


@media (max-width: 950px) {
    body{
        font-size: xx-small;
    }

    .navBar-header {
        display: block;
    }

    .header__items-tittleInput {
        justify-content: center !important;
    }

    .header__items-all {
        width: 80vw;
    }

    .cartas {
        display: flex;
    }

    .cartas {
        display: flex;
    }

    .card-img-top{
        display: flex;
        height: 104px;
        width: 104px;
        padding: 16px;
    }

    .card-body {
        font-size: x-small;
        padding: 5px;
    }
    .containerIndiv {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    .rowIndiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        padding-top: 25px;
    }

    .card-bodyIndv {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 0 16px;
    }

    .card-precio {
        text-align: center;
    }
    
    .imgIndv {
        width: 288px;
        height: 224px;
        padding: 16;
    }

    .card-titleindv{
        font-size: medium;
    }

    .containerImg {
        width: 100%;
    }

    .card-titleindv {
        font-size: 20px;
        font-weight: 400;
    }

    .card-textindv {
        font-size: 15px;
        font-weight: 300;
    }

    .card-precioindv{
        font-size: 32px;
        font-weight: 300;
    }

    .card-categoryindv{
        font-size: 12px;
        font-weight: 300;
    }

    .card-brandindv{
        font-size: 12px;
        font-weight: 300;
    }

    .bttns__back-compra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .btn-compra{
        order: 1;
    }

    .bttn-back {
        display: flex;
        justify-content: center;
        order: 2;
    }

    .btn--compra-link{
        order: 1;
        color: white;
    }

    .imgCarrito {
        height: 104px;
        width: 104px;
    }
    
}